.log_view {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  resize: none; /* Remove this if you want the user to resize the textarea */
}

.heading {
}



.chessboard {
  display: inline-block;
  height: 60%;
  border: 0px solid #AAA;
  background-color: #AAA;
}

.parent {
  text-align: center;
  background-color: #BBB;
}

.modal-buttons {
  float:right;
}

*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.edit-minutes {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
.edit-seconds {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.actions {
  background-color: #AAA;
}

.rounded {
  background-color: #FFF;
  font-weight: bold;
  font-size: 25px;

  border-radius: 2px;
}

.crowning {
  text-align: center;
  background-color: #AAA;
}

.buttons {
  text-align: center;
}

.button {
  display: inline-block;
  vertical-align: middle;
}

.left, .right {
     display: inline-block;
     padding: 2%;
}


.clock-edit {

}

.clock {
  background-color: #AAA;
  text-align: center;
  font-size: 2vw;
}


.clock-edit span {
  font-weight: bold;
}

.clock span {
  font-weight: bold;
}

.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.white-dot {
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background-color: #FFF;
  border-radius: 50%;
}

.black-dot {
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background-color: #000;
  border-radius: 50%;
}

.last {
    position: relative;
    float: left;
    width: 10%;
    height: 10%;
    background-color: #BBB;
    font-size:5rem;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.black {
    position: relative;
    float: left;
    width: 10%;
    height: 10%;
    background-color: #b58763;
    font-size:5rem;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    position: relative;
    float: left;
    width: 10%;
    height: 10%;
    background-color: #f0dab5;
    font-size:5rem;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.limit {
    position: relative;
    float: left;
    width: 10%;
    height: 10%;
    font-size: 1vw;
    background-color: #bbb;
    text-align:center;
    display: table-cell;
}

*.hidden {
  display: none !important;
}

div.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
}
