<div class="modal fade" id="match-ended-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Partida finalizada</h5>
      </div>
      <div class="modal-body">
        <div class="modal-ended-reason"></div>
        <div class="modal-ended-result"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="draw-request-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">El rival solicita tablas</h5>
      </div>
      <div class="modal-body">
        <button type="button" class="btn-close" aria-label="Aceptar"></button>
        <button type="button" class="btn-close" aria-label="Rechazar"></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="crown-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title text-center">Coronacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmation-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Confirmacion</h5>
      </div>
      <div class="modal-body">
        <div class="confirmation-modal-question"></div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Aceptar"></button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
      </div>
    </div>
  </div>
</div>
